<!-- IBM Confidential‌ - OCO Source Materials‌ - (C) COPYRIGHT IBM CORP. 2015-2016‌ - The source code for this program is not published or otherwise‌ divested of its trade secrets, irrespective of what has been‌ deposited with the U.S. Copyright Office. -->

<link rel="import" href="../triplat-debug/triplat-debug.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-selector/iron-selector.html">
<link rel="import" href="../triplat-loading-indicator/triplat-loading-indicator.html">

<!-- Local Components -->
<link rel="import" href="tricomp-array-comparator.html">

<dom-module id="tricomp-space-list-group">
	<style>
		/*=========================================
		 * Table of Contents
		 *-----------------------------
		 * Host
		 * Container - container-spaces-empty
		 *=========================================*/


		/* Host */
		:host {
			@apply(--layout-flex);
			@apply(--layout-vertical);
		}
		/* End Host */


		/* Container - container-spaces-empty */
		.container-spaces-empty p {
			text-align: center;
			font-size: 0.9em;
			font-weight: 300;
		}
		/* End Container - container-spaces-empty */


		iron-selector {
			@apply(--layout-vertical);
			@apply(--layout-flex);
			@apply(--layout-scroll);
			border: 2px solid var(--tri-primary-content-accent-color);
			background-color: var(--tri-body-background-color);
		}

		iron-selector > div:first-of-type {
			border-top: none;
		}

		.space-item {
			box-sizing: border-box;
			@apply(--layout-horizontal);
			flex-shrink: 0;
			background-color: var(--tri-header-color);
			padding: 20px;
			border-top: 1px solid var(--tri-primary-content-accent-color);
			cursor: pointer;
		}

		.space-item.iron-selected {
			background-color: var(--tri-primary-light-color);
		}

		.space-unselectable {
			pointer-events: none;
		}

		.value {
    	word-wrap: break-word;
			color: var(--tri-focus-color);
		}

		label {
			color: var(--tri-focus-label-color);
		}

		.box-data {
			box-sizing: border-box;
			padding-right: 10px;
			padding-left: 10px;
		}

		.id {
			@apply(--layout-flex-1);
			max-width: 15%;
		}

		.name,
		.type,
		.occupancy {
			max-width: 22%;
		}

		.name {
			@apply(--layout-flex-2);
		}

		.type {
			@apply(--layout-flex-2);
		}

		.occupancy {
			@apply(--layout-flex-2);
		}

		.box-org {
			box-sizing: border-box;
			@apply(--layout-flex);
			@apply(--layout-horizontal);
			align-items: center;
			max-width: 95%;
		}
			.box-org .value {
				max-width: 100%;
			}

		.box-org-color {
			min-height: 22px;
			min-width: 22px;
			margin-right: 5px;
			background-color: gray;
		}
	</style>

	<template>

		<iron-selector id="selector" selected-item="{{_selectedSpaceElement}}" attr-for-selected="tri-record-id" hidden$="[[!_computeSpaces(spaces)]]">
			<template is="dom-repeat" id="spacesTemplate" items="{{spaces}}">

				<!-- Template If: It's not read-only -->
				<template is="dom-if" if="{{!readOnly}}">
					<!-- Template If: Space available -->
					<template is="dom-if" if="{{_validateSpaceAvailable(item.available)}}">
						<div tri-record-id$="{{item._id}}" class="space-item" on-tap="_handleSelectedSpace" hidden$="{{!_isFilterResult(item, type, searchTerms)}}">
							<span class="id box-data"><label>ID: </label><span class="value">{{item.id}}</span></span>
							<span class="name box-data"><label>Name: </label><span class="value">{{item.space}}</span></span>
							<span class="type box-data"><label>Type: </label><span class="value">{{item.spaceClass}}</span></span>
							<span class="occupancy box-data" hidden$="{{_checkType(type)}}"><label>Occupancy: </label><span class="value">{{item.occupancyStatus}}</span></span>

							<div class="occupancy box-data" hidden$="{{_checkType(type)}}">
								<label>Charged To Organization: </label>

								<div class="box-org" hidden$="{{item.chargedToOrg}}">
									<div class="box-org-color"></div>
									<span class="value">No Org</span>
								</div><!-- end .box-org -->

								<div class="box-org" hidden$="{{!item.chargedToOrg}}">
									<div class="box-org-color" style$="background-color: [[item.orgColor]]"></div>
									<span class="value">{{item.chargedToOrg}}</span>
								</div><!-- end .box-org -->
							</div><!-- end div -->
						</div><!-- end div -->
					</template>
					<!-- End Template If -->

					<!-- Template If: Space not available -->
					<template is="dom-if" if="{{!_validateSpaceAvailable(item.available)}}">
						<div tri-record-id$="{{item._id}}" class="space-item space-unselectable" hidden$="{{!_isFilterResult(item, type, searchTerms)}}">
							<span class="id box-data"><label>ID: </label><span class="value">{{item.id}}</span></span>
							<span class="name box-data"><label>Name: </label><span class="value">{{item.space}}</span></span>
							<span class="type box-data"><label>Type: </label><span class="value">{{item.spaceClass}}</span></span>
							<span class="occupancy box-data" hidden$="{{_checkType(type)}}">
								<label>Occupancy: </label><span class="value">{{item.occupancyStatus}}</span>
								<span class="value" hidden$="[[_validateRemainingVacant(item.adjustedRemainingVacant)]]">(Planned for occupancy)</span>
							</span>

							<div class="occupancy box-data" hidden$="{{_checkType(type)}}">
								<label>Charged To Organization: </label>

								<div class="box-org" hidden$="{{item.chargedToOrg}}">
									<div class="box-org-color"></div>
									<span class="value">No Org</span>
								</div><!-- end .box-org -->

								<div class="box-org" hidden$="{{!item.chargedToOrg}}">
									<div class="box-org-color" style$="background-color: [[item.orgColor]]"></div>
									<span class="value">{{item.chargedToOrg}}</span>
								</div><!-- end .box-org -->
							</div><!-- end div -->
						</div><!-- end div -->
					</template>
					<!-- End Template If -->
				</template>
				<!-- End Template If -->

				<!-- Template If: It's read-only -->
				<template is="dom-if" if="{{readOnly}}">
					<div tri-record-id$="{{item._id}}" class="space-item space-unselectable" hidden$="{{!_isFilterResult(item, type, searchTerms)}}">
						<span class="id box-data"><label>ID: </label><span class="value">{{item.id}}</span></span>
						<span class="name box-data"><label>Name: </label><span class="value">{{item.space}}</span></span>
						<span class="type box-data"><label>Type: </label><span class="value">{{item.spaceClass}}</span></span>
						<span class="occupancy box-data" hidden$="{{_checkType(type)}}">
							<label>Occupancy: </label><span class="value">{{item.occupancyStatus}}</span>
							<span class="value" hidden$="[[_validateRemainingVacant(item.adjustedRemainingVacant)]]">(Planned for occupancy)</span>
						</span>

						<div class="occupancy box-data" hidden$="{{_checkType(type)}}">
							<label>Charged To Organization: </label>

							<div class="box-org" hidden$="{{item.chargedToOrg}}">
								<div class="box-org-color"></div>
								<span class="value">No Org</span>
							</div><!-- end .box-org -->

							<div class="box-org" hidden$="{{!item.chargedToOrg}}">
								<div class="box-org-color" style$="background-color: [[item.orgColor]]"></div>
								<span class="value">{{item.chargedToOrg}}</span>
							</div><!-- end .box-org -->
						</div><!-- end div -->
					</div><!-- end div -->
				</template>
				<!-- End Template If -->

			</template>

		</iron-selector>

		<div class="container-spaces-empty" hidden$="[[_computeSpaces(spaces)]]">
			<p>There is no information to display.</p>
		</div><!-- end .container-spaces-empty -->
	</template>
</dom-module>
<script>
	Polymer({

		is: "tricomp-space-list-group",

		properties : {
			selectedSpace : {
				type : Object,
				notify : true,
				observer : '_handleSelectedSpaceChange'
			},
			spaces : Object,
			loaded : {
				type : Boolean,
				notify : true,
			},
			_selectedSpaceElement : {
				type : Object,
				observer : '_handleSelectedSpaceElementChange'
			},
			searchTerms : String,
			currentSelection: String,

			//=========================================================
			// Property availableSpaces
			//------------------------------------------
			// Objective: Object of the space to be highlighted in the graphic
			// Removed: Property removed because the dom-repeat wasn't being updated properly. So the property space is receiving the array with the 'available' spaces
			//=========================================================
			// availableSpaces: {
			// 	type: Object
			// },

			//=========================================================
			// Property readOnly
			//------------------------------------------
			// Objective: Indicate if the list should be read-only
			//=========================================================
			readOnly: {
				type: Boolean,
				value: false
			},
		},

		listeners : {
			'spacesTemplate.dom-change' : '_handleSpacesTemplateDomChanged',
			'drag-enter' : '_dragEnterHandler',
			'drag-leave' : '_dragLeaveHandler',
			'drop' : '_dropHandler'
		},

		_handleSelectedSpaceElementChange : function(newElement, oldElement) {
			if (newElement) {
				if (oldElement) {
					this._deselect();
				}
				this._select(newElement, -1);
			}
		},

		_handleSelectedSpaceChange : function(selectedSpace, oldSelectedSpace) {
			if (selectedSpace) {
				this._select(null, selectedSpace._id);
			} else {
				this._deselect();
			}
		},

		_handleSpacesTemplateDomChanged : function(e) {
			if (this.spaces) {
				this.set('loaded', e.returnValue);
			}
		},

		_select : function(element, recordId) {
			if (element) {
				var selectedSpace = this.$.spacesTemplate.itemForElement(element);
				this.set('selectedSpace', selectedSpace);

				this._handleSelectedSpaceChanged();
			} else if (recordId > 0) {
				this.$.selector.select(recordId.toString());
				this.currentSelection = recordId.toString();
			}
		},

		_deselect : function() {
			this.$.selector.selected = -1;
				this.set('selectedSpace', null);
		},


		_handleSelectedSpace : function(e) {
			var selectedSpace = this.$.spacesTemplate.itemForElement(e.target);
			if (selectedSpace._id == this.currentSelection) {
				e.stopPropagation();
				this.fire('selectSpace', selectedSpace);
			}// end if

			// Fire: event specific for when a space is clicked
			this.fire('spaceClicked');
		},

		_isFilterResult : function(space, type, searchTerms) {
			var isFilterResult = true;
			if (searchTerms) {
				var lowerSpacesFilter = searchTerms.toLowerCase();
				if (type == "People") {
					isFilterResult = space.space.toLowerCase().indexOf(lowerSpacesFilter) != -1
									|| space.spaceClass.toLowerCase().indexOf(lowerSpacesFilter) != -1
									|| space.occupancyStatus.toLowerCase().indexOf(lowerSpacesFilter) != -1
									|| space.id.toLowerCase().indexOf(lowerSpacesFilter) != -1;
				}
				else
				{
					isFilterResult = space.space.toLowerCase().indexOf(lowerSpacesFilter) != -1
									|| space.spaceClass.toLowerCase().indexOf(lowerSpacesFilter) != -1
									|| space.id.toLowerCase().indexOf(lowerSpacesFilter) != -1;
				}
			}
			return isFilterResult;
		},


		render : function() {
			this.$.spacesTemplate.render();
		},

		reset : function() {

		},

		_handleSelectedSpaceChanged : function() {
			this.fire('selectSpace', this.selectedSpace );
			this.currentSelection = null;
		},

		_checkType : function(type) {
			if (type == "People") {
				return false;
			}
			return true;

		},

		_dragEnterHandler: function(e) {

		},

		_dragLeaveHandler: function(e) {

		},

		_dropHandler: function(e) {

		},

		//=========================================================
		// Function _computeSpaces
		//------------------------------------------
		// Objective: Compute when show or hide the spaces list
		//=========================================================
		_computeSpaces: function(spaces) {
			if (spaces) {
				return (spaces.length > 0);
			} else {
				return false;
			}// end if
		},

		//=========================================================
		// Function _validateRemainingVacant
		//------------------------------------------
		// Objective: Validate if there are remaining vacant
		//=========================================================
		_validateRemainingVacant: function(item) {
			return (item > 0);
		},

		//=========================================================
		// Function _validateSpaceAvailable
		//------------------------------------------
		// Objective: Validate if the space is available
		//=========================================================
		_validateSpaceAvailable: function(available) {
			return (available);
		},

		//=========================================================
		// Function _initList
		//------------------------------------------
		// Objective: Refresh the table of spaces
		//=========================================================
		_initList: function() {
			var finalSpaces = this.spaces;

			this.$.spacesTemplate.items = [];
			this.$.spacesTemplate.render();
			this.$.spacesTemplate.items = finalSpaces;
		},
	});
</script>
